/* import Cedar component CSS used in this package */
@import url("@rei/cedar/dist/style/cdr-text.css");
/* import Cedar utility class files used in this package */
@import url("@rei/cedar/dist/style/align.css");
/* for more info: https://rei.github.io/rei-cedar-docs/getting-started/as-a-developer/#include-component-and-utility-css */
